.button {
  &__register {
    width: 207px;
    padding: 10px;
    margin-left: 669px;
    border: none;
    background: #F2F9FE;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2196F3;
  
    &:active, 
    &:hover {
      color: #F2F9FE;
      background: #2196F3;
      border: 1px solid white;    
    }
  }

  &__start-game {
    cursor: pointer;
    display: none;
    width: 207px;
    padding: 10px;
    margin-left: 669px;
    border: none;
    background: #F2F9FE;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2196F3;
  
    &:active, 
    &:hover {
      color: #F2F9FE;
      background: #2196F3;
      border: 1px solid white;    
    }
  }

  &__stop-game {
    cursor: pointer;
    display: none;
    width: 207px;
    padding: 10px;
    margin-left: 669px;
    border: none;
    background: #F2F9FE;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2196F3;
  
    &:active, 
    &:hover {
      color: #F2F9FE;
      background: #2196F3;
      border: 1px solid white;    
    }
  }
}
